{{ define "main" }}
  <section>
    <img class="logo" src="/wedding-invitation/img/placeholder-square.png">
    <img class="sample_image" src="/wedding-invitation/img/placeholder-long.png">
    <img class="sample_image" src="/wedding-invitation/img/placeholder-long.png">
    <p>And it is among His sign that He has created for you wives from among yourselves, so that you may find tranquility in them and He has created love and kindness between you. Surely in this there are signs for a people who reflect.</p>
    <p>QS Ar-Rum : 21</p>
    <img class="sample_image" src="/wedding-invitation/img/placeholder-long.png">
    <img class="sample_image" src="/wedding-invitation/img/placeholder-long.png">
  </section>

  <section>
    <img class="logo" src="/wedding-invitation/img/placeholder-square.png">
    <p>Together with the family,</p>
    <h3>Anggi Permata Sukma Lembayung</h3>
    <p>The daughter of Agung Heriyanto & Enny Prihjantini</p>

    <span>and</span>

    <h3>Odhy Pradhana</h3>
    <p>The daughter of Muhammad Mutohar & Tutik Andayani</p>

    <p>We’d like to request the pleasure of your company <br> on our wedding day that will be held on:</p>

    <h1>Wedding Ceremony</h1>
    <h2>Saturday, October 5th 2024</h2>
    <p>07.00 - 09.00</p>
    <p>Bride's Residence</p>
    <p>Madiun City</p>

    <h1>Wedding Reception</h1>
    <h2>Sunday, October 6th 2024</h2>
    <p>10.00 - 14.00</p>
    <p>Gedung Serbaguna Tri Dharma</p>
    <p>Jl. Cokroaminoto No. 63, Kota Madiun</p>

  </section>


  {{ partial "footer.html" . }}
{{ end }}