{{ define "main" }}

<div class="container-fluid position-relative px-0">

  <!-- Side Pattern -->
  <div class="pattern-details position-absolute top-0 end-0"></div>

  <!-- Section - Opening -->
  <section class="details-opening d-none">
    <div class="row">
      <div class="col-11 d-flex flex-column align-items-center gap-5 py-5">
        <img class="" src="/img/pattern-logo.svg" width="50px">

        <img class="" src="/img/placeholder-long.png" width="300px">

        <div class="text-center col-10">
          <p><i>And it is among His signs that He has created for you wives from among yourselves, so that you may find tranquility in them and He has created love and kindness between you. Surely in this there are signs for a people who reflect.</i></p>
          <span class="text-gold">QS Ar-Rum : 21</span>
        </div>

        <img class="" src="/img/placeholder-long.png" width="300px">

      </div>
    </div>
  </section>
  
  <!-- Section - Main -->
  <section class="details-main d-none">
    <div class="row">
      <div class="col-11 d-flex flex-column align-items-center gap-5 py-5">
        <img class="" src="/img/pattern-logo.svg" width="50px">

        <div class="details__main-text text-center d-flex flex-column align-items-center gap-4">
          <p>Together with the family,</p>

          <div class="col-10">
            <h3 class="fw-bold">Anggi Permata Sukma Lembayung</h3>
            <p>The daughter of Agung Heriyanto & Enny Prihjantini</p>
          </div>

          <span class="text-gold mb-2"><i>and</i></span>

          <div class="col-10">
            <h3 class="fw-bold">Odhy Pradhana</h3>
            <p>The son of Muhammad Mutohar & Tutik Andayani</p>
          </div>

          <p class="col-10 mt-4">We’d like to request the pleasure of your company on our wedding day that will be held on:</p>
        </div>

        <div class="details__main-event text-center d-flex flex-column gap-4">
          <div class="">
            <h2 class="text-gold">Wedding Ceremony</h2>
            <p>Saturday, October 5th 2024</p>
            <p class="fw-bold">07.00 - 09.00</p>
            <p class="fw-bold">Bride's Residence</p>
            <p>Madiun</p>
          </div>

          <div class="">
            <h2 class="text-gold">Wedding Reception</h2>
            <p>Sunday, October 6th 2024</p>
            <p class="fw-bold">10.00 - 14.00</p>
            <p class="fw-bold">Gedung Serbaguna Tri Dharma</p>
            <p>Jl. Cokroaminoto No. 63, Madiun</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section - Gallery -->
  <section class="details-gallery">
    <div class="row">
      <div class="col-11 d-flex flex-column align-items-center gap-5 py-5">
        <img class="" src="/img/pattern-logo.svg" width="50px">

        <p><i>Many stars in the sky I see...</i></p>

        <div class="col-10 d-flex flex-column align-items-center gap-3">
          <img class="col-12" src="/img/placeholder-long.png">
          <img class="col-12" src="/img/placeholder-long.png">
          <img class="col-12" src="/img/placeholder-long.png">
          <img class="col-12" src="/img/placeholder-long.png">
        </div>

        <p><i>...but no star is as beautiful as thee.</i></p>
      </div>
    </div>
  </section>

  {{ partial "footer.html" . }}

</div>

{{ end }}