{{ define "main" }}
  <section class="landing flex-center">
    <img class="landing__pattern pattern-top" src="/img/pattern-top.png">
    <img class="landing__pattern pattern-bottom" src="/img/pattern-top.png">
    <img class="landing__logo" src="/img/pattern-logo.svg">
    <div class="landing__text flex-center">
      <h2 class="landing__text-byname" >Dear,<br>{{ .Title }}</h2>
      <h3 class="landing__text-greeting" >You are invited<br>to The Wedding of</h3>
      <h1 class="landing__text-bride text-gold" >Anggi & Odhy</h1>
    </div>
    <a class="landing__button" href="details">Open Invitation</a>
  </section>
{{ end }}