{{ define "main" }}

<section class="landing">
  <div class="container">
    <div class="row fullscreen-page d-flex align-items-center">
      <div class="col-12 text-center d-flex flex-column align-items-center gap-5">
        <!-- Landing Logo -->
        <img class="my-3" src="/img/pattern-logo.svg" width="50px">

        <!-- Landing Content -->
        <div class="d-flex flex-column align-items-center gap-4">
          <h3 class="fs-5">Dear,<br>{{ .Title }}</h3>
          <h4 class="fs-6">You are invited<br>to The Wedding of</h4>
          <h1 class="fs-1 text-uppercase fw-bold">Anggi & Odhy</h1>
        </div>

        <!-- Landing CTA -->
        <a class="my-3 btn btn-primary rounded-pill px-4 py-2 shadow" href="details">Open Invitation</a>  
      </div>
    </div>
  </div>
</section>
{{ end }}