body {
  font-family: "Merriweather", serif;  
}

.fullscreen-page {
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

section {
  background-image: url("/img/bg-texture.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}