/*
  Author : Odhy Pradhana
  License: MIT License (2024-present)

  Table of Contents
  0. CSS Reset (by Josh W. Comeau)
  1. Custom Properties
  2. Global Styles
  3. Section and Containers
  4. Base Elements and Components
  5. Landing page
  6. Details page
  7. 404 page
  8. Footer
*/

/* Responsive Breakpoints */
/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
/*@media (min-width: 768px) {}*/

/* lg */
/*@media (min-width: 1024px) {}*/

/* xl */
/*@media (min-width: 1280px) {}*/

/* 2xl */
/*@media (min-width: 1536px) {}*/

/* --------------------------------------------------------
  0. CSS Reset (by Josh W. Comeau)
-------------------------------------------------------- */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* --------------------------------------------------------
  1. Custom Properties
-------------------------------------------------------- */
:root {
  /* Colors */
  --gold : hsl( 47,100%, 33%);
  --navy : hsl(236, 58%, 26%);
  --white: hsl(  0,  0%, 97%);
  --black: hsl(  0,  0%, 20%);

  /* Font Family */
  --ff-serif: "Merriweather", serif;

  /* Sizes */
  --size-xxs : 0.5rem;
  --size-xs  : 0.75rem;
  --size-sm  : 0.875rem;
  --size-base: 1rem;
  --size-lg  : 1.125rem;
  --size-xl  : 1.25rem;
  --size-2xl : 1.5rem;
  --size-3xl : 1.875rem;
  --size-4xl : 2.25rem;
  --size-5xl : 3rem;
  --size-6xl : 3.75rem;
  --size-7xl : 4.5rem;
  --size-8xl : 6rem;
  --size-9xl : 8rem;
  --size-10xl: 10rem;

  /* Other */
  --border-radius: 4px;
}

/* --------------------------------------------------------
  2. Global Styles
-------------------------------------------------------- */
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-serif);
}

/* --------------------------------------------------------
  3. Section and Containers
-------------------------------------------------------- */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section {
  background-image: url("/img/bg-texture.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1536px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* --------------------------------------------------------
  4. Base Elements and Components
-------------------------------------------------------- */
main {}

a {
  text-decoration: none;
}

/* --------------------------------------------------------
  5. Landing page
-------------------------------------------------------- */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

.landing__logo {
  width: var(--size-5xl);
  height: auto;
}

.landing__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.5em;
  color: var(--navy);
}

.landing__text-byname {
  font-size: var(--size-xl);
}

.landing__text-greeting {
  font-size: var(--size-base);
}

.landing__text-bride {
  text-transform: uppercase;
  color: var(--gold);
  font-size: var(--size-3xl);
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px #888;
}

.landing__button {
  font-size: var(--size-base);
  padding: 0.75em 2em;
  border-radius: 2rem;
  background-color: var(--navy);
  color: var(--white);
  box-shadow: 4px 4px 4px #888;
}

.landing__pattern {
  position: absolute;
  object-fit: cover;
  object-position: right;
  width: 100%;
  overflow: hidden;
}

.pattern-top {
  top: 0;
  height: 15vh;
}

.pattern-bottom {
  bottom: 0;
  height: 15vh;
  transform: rotate(180deg);
}
