:root {
  --font-main: hsl(236, 58%, 26%);
  --font-gold: hsl( 47,100%, 33%);
}

body {
  font-family: "Merriweather", serif;
  color: var(--font-main);
}

.text-gold {
  color: var(--font-gold);
}

.fullscreen-page {
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

section {
  background-image: url("/img/bg-texture.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pattern-image {
  background-image: url("/img/pattern-top.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: top;
  height: 90px;
}

.pattern-top {}

.pattern-bottom {
  transform: rotate(180deg);
}

.pattern-image-y {
  background-image: url("/img/pattern-side.svg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 100%;
}

.pattern-left {}

.pattern-right {
  transform: rotate(180deg);
}
